crewai
crewai[groq]
crewai[tools]
crewai[litellm]
langchain_community
pypdf
langchain_mistralai
langchain_core
opentelemetry-instrumentation-crewai
opentelemetry-instrumentation-openai
opentelemetry-sdk
fastapi
uvicorn[standard]
python-multipart
python-dotenv
